@page
@model Tekne.Pages.EditorModel
@{
    ViewData["Title"] = "Editor";
}

<div id="content">
    <div class="container justify-content-between d-flex pb-3">
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</div>


@section Scripts {
    
}