html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    color: #F5F5F5;
}

body {
  margin-bottom: 60px;
  background-color: #0F1014;
  color: #F5F5F5;
}

.card {
    /*box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);*/
    border-radius: 10px;
    background-color: #15171C;
    padding: 3rem;
}

.form-control {
    background-color: #1B1C22;
    border-width: 0px;
    color: #9A9CAE;
    /*color: #fff;*/
}

.form-select {
    background-color: #1B1C22;
    border-width: 0px;
    color: #9A9CAE;
    /*color: #fff;*/
}

.form-control-solid {
    background-color: #1B1C22;
    border-width: 0px;
    color: #9A9CAE;
}

    .form-control-solid:focus {
        background-color: #26272F;
        /*border-width: 0px;*/
        box-shadow: 0px 0px;
        color: #9A9CAE;
    }

.form-check-input:checked {
    background-color: #0d6efd;
    border-width: 0px;
}

.page-item.disabled .page-link {
    background-color: transparent;
    border: none;
}

.page-item.active .page-link {
    background-color: #1f212a;
    border-radius: .375rem;
    border: none;
    color: #9A9CAE;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}